spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              lower-case-service-id: true
              enabled: true
          globalcors:
            cors-configurations:
              '[/**]':
                allowed-origins:
                  - "http://localhost:3000"
                  - "http://localhost:4200"
                allowed-methods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - OPTIONS
                allowed-headers:
                  - Authorization
                  - Content-Type
                  - Accept
                exposed-headers:
                  - Authorization
                allow-credentials: true

server:
  port: ${API_GATEWAY_PORT:9090}

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: ${EUREKA_URL}
    register-with-eureka: true
    fetch-registry: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    urls:
      - name: Auth-Service
        url: /auth/api-docs
      - name: Book-Service
        url: /books/api-docs
      - name: Category-Service
        url: /category/api-docs
      - name: Price-Service
        url: /price/api-docs
      - name: Inventory-Service
        url: /inventory/api-docs
      - name: Review-Service
        url: /review/api-docs

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}
