spring:
  application:
    name: eureka

server:
  port: ${PORT:8761}

eureka:
  instance:
    hostname: ${RAILWAY_PUBLIC_DOMAIN:localhost}
    prefer-ip-address: false
    non-secure-port: ${PORT:8761}
  client:
    register-with-eureka: false
    fetch-registry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
#  server:
#    enable-self-preservation: false
